.kpdivision {
    padding: 15px;
    background: rgba(255,0,0,0.3);
    border-radius: 25px;
    border: none
}
 .App-header {
    justify-content: start !important
}
 .field {
    padding: 10px;
    background-color: #282c34;
    color: gold;
    border: none;
    border-radius: 5px;
}
 .clickable {
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}